@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  color: #6E728E;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 65.625rempx;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  background: #F7F7FE;
  overflow: hidden;
}

.page {
  padding: 71px 0 103px 0;
}

.pricing {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}

.pricing__header {
  font-size: 32px;
  color: #6E728E;
  text-align: center;
  margin-bottom: 40px;
}

.pricing__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__checkbox:hover .pricing__choice {
  opacity: 0.5;
}

.pricing__checkbox:hover .pricing__toggle {
  opacity: 0.5;
}

.pricing__choice {
  color: rgba(110, 114, 142, 0.5);
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  font-size: 15px;
}

.pricing__toggle {
  position: relative;
  display: block;
  width: 56px;
  height: 32px;
  background: -o-linear-gradient(315deg, #A2A7F0 0%, #696EDD 100%);
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.pricing__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 4px;
  bottom: 4px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.pricing__check-input {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pricing__check-input:checked ~ .pricing__toggle::before {
  -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
          transform: translateX(24px);
}

.component__content {
  margin-top: 4.2666666667rem;
}

.content__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px;
  grid-template-rows: 500px;
  -ms-grid-columns: (minmax(auto, 23.3333333333rem))[3];
  grid-template-columns: repeat(3, minmax(auto, 23.3333333333rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item:last-child {
  border-radius: 0px 10px 10px 0px;
}

.item {
  background: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 2.0666666667rem;
  -webkit-box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
          box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px 0px 0px 10px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item._active {
  background: -o-linear-gradient(315deg, #A2A7F0 0.05%, #696EDD 100.05%);
  background: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
  -webkit-box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
          box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  color: #FFFFFF;
  height: 100%;
}

.item._active .item__price {
  color: #FFFFFF;
}

.item._active .item__button {
  background: #FFFFFF;
}

.item._active .item__button-more {
  color: #6D72DE;
}

.item._active .condition__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.item._active .condition__item:not(:last-child) {
  border-bottom: none;
}

.item._active .item__icon {
  font-size: 40px;
  color: #FFFFFF;
}

.item._active .item__button:hover {
  border: 1px solid #FFFFFF;
  background: transparent;
}

.item._active .item__button:hover .item__button-more {
  color: #FFFFFF;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.item__text {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.item__price {
  font-size: 4.8rem;
  color: #4A4D60;
  letter-spacing: -2.16px;
}

.item__price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 197px;
}

.item__price-content._active {
  -webkit-animation: show 2s 1;
          animation: show 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.item__icon {
  font-size: 40px;
  color: #4A4D60;
  margin-right: 0.5333333333rem;
}

.item__condition {
  margin: 2.1333333333rem 0;
}

.item__button {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  background: rgba(109, 114, 222, 0.8);
  border-radius: 6px;
  height: 2.9333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__button:hover {
  border: 1px solid #6D72DE;
  background: #FFFFFF;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.item__button:hover .item__button-more {
  color: #6D72DE;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.item__button-more {
  background: none;
  color: #FFFFFF;
  font-size: 0.8666666667rem;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.condition__item {
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
  border-top: 1px solid rgba(110, 114, 142, 0.25);
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.condition__item-text {
  line-height: 1.8666666667rem;
  height: 1.6rem;
}

.condition__item:not(:last-child) {
  border-bottom: none;
}

@media (max-width: 900px) {
  html,
  body {
    font-size: 13px;
  }

  .content__body {
    -ms-grid-rows: 450px;
    grid-template-rows: 450px;
  }
}

@media (max-width: 800px) {
  html,
  body {
    font-size: 13px;
  }
}

@media (max-width: 780px) {
  .content__body {
    -ms-grid-columns: (minmax(auto, 23.3333333333rem))[2];
    grid-template-columns: repeat(2, minmax(auto, 23.3333333333rem));
    -ms-grid-rows: 410px 410px;
    grid-template-rows: 410px 410px;
    row-gap: 32px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .item:last-child {
    border-radius: 10px;
  }

  .item {
    height: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 550px) {
  html,
  body {
    font-size: 15px;
  }

  .content__body {
    -ms-grid-columns: (minmax(auto, 23.3333333333rem))[1];
    grid-template-columns: repeat(1, minmax(auto, 23.3333333333rem));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 32px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 780px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}
